# 1

In [1]:
import pandas as pd
pd.__version__

'0.24.2'

#    

# 2

In [2]:
data1 = pd.read_csv("Csv1.csv")
data1.head()

,Address.City,ID,LocationMilestones.LastRemodelDate,LocationMilestones.OpenDate,Name,Store.StoreDistrictID,TimeZone.TimeZoneCode,PhoneNumber
0,Oxford,2153,NaN,2006-07-19T12:00:00,Oxford,340,CST,(256) 231-2900
1,Opelika,1499,NaN,2005-07-20T12:00:00,Opelika,340,CST,(334) 705-0152
2,Carrollton,1073,NaN,1997-07-23T12:00:00,Carrollton,336,EST,(770) 838-9221
3,Newnan,1223,2013-06-27T12:00:00,1999-10-06T12:00:00,Newnan,336,EST,(770) 502-0294
4,Columbus,1179,2004-10-17T12:00:00,1999-03-03T12:00:00,Columbus,340,EST,(706) 321-0831

In [3]:
data2 = pd.read_csv("Csv2.csv")
data2.head()

,Address.City,ID,Name,FaxNumber,BeginTime.MF,ThruTime.MF,IsOpen.Sat,IsOpen.Sun
0,Oxford,2153,Oxford,(256) 231-2910,08:00:00,22:00:00,True,False
1,Opelika,1499,Opelika,(334) 363-3235,08:00:00,22:00:00,False,True
2,Carrollton,1073,Carrollton,(678) 664-3234,08:00:00,22:00:00,True,True
3,Newnan,1223,Newnan,(678) 621-6321,08:00:00,22:00:00,True,False
4,Columbus,1179,Columbus,(706) 225-5604,08:00:00,23:00:00,True,True

#    

# 3

In [4]:
"""
I am dropping "Name_y" and "Address.City_y" because they have the same values with "Name_x" and "Address.City_x"
"""
merged_data = data1.merge(data2, on = "ID").drop(["Name_y", "Address.City_y"], axis = "columns").rename(columns = {"Address.City_x" : "Address.City", "Name_x" : "Name"})

In [7]:
merged_data

,Address.City,ID,LocationMilestones.LastRemodelDate,LocationMilestones.OpenDate,Name,Store.StoreDistrictID,TimeZone.TimeZoneCode,PhoneNumber,FaxNumber,BeginTime.MF,ThruTime.MF,IsOpen.Sat,IsOpen.Sun
0,Oxford,2153,NaN,2006-07-19T12:00:00,Oxford,340,CST,(256) 231-2900,(256) 231-2910,08:00:00,22:00:00,True,False
1,Opelika,1499,NaN,2005-07-20T12:00:00,Opelika,340,CST,(334) 705-0152,(334) 363-3235,08:00:00,22:00:00,False,True
2,Carrollton,1073,NaN,1997-07-23T12:00:00,Carrollton,336,EST,(770) 838-9221,(678) 664-3234,08:00:00,22:00:00,True,True
3,Newnan,1223,2013-06-27T12:00:00,1999-10-06T12:00:00,Newnan,336,EST,(770) 502-0294,(678) 621-6321,08:00:00,22:00:00,True,False
4,Columbus,1179,2004-10-17T12:00:00,1999-03-03T12:00:00,Columbus,340,EST,(706) 321-0831,(706) 225-5604,08:00:00,23:00:00,True,True
5,Peachtree City,2129,2013-10-10T12:00:00,2006-07-19T12:00:00,Peachtree City,336,EST,(770) 282-2165,(678) 734-3839,08:00:00,22:00:00,True,False
6,Montgomery,1825,2014-04-03T12:00:00,2003-10-08T12:00:00,Montgomery,340,CST,(334) 356-6265,(334) 523-9794,08:00:00,22:00:00,True,True
7,Douglasville,1172,NaN,1998-10-07T12:00:00,Douglasville,336,EST,(770) 947-5303,(770) 250-4101,08:00:00,22:00:00,False,True
8,Prattville,2274,NaN,2007-07-25T12:00:00,Prattville,340,CST,(334) 290-6000,(334) 290-6010,08:00:00,22:00:00,True,True
9,Birmingham,1772,NaN,2000-10-04T12:00:00,Birmingham 280 Corridor,340,CST,(205) 408-7687,(205) 578-5170,08:00:00,23:00:00,True,True
10,Fayetteville,778,2007-10-18T12:00:00,1995-10-04T12:00:00,Fayetteville,336,EST,(770) 719-9766,(678) 734-9930,08:00:00,22:00:00,True,True
11,Birmingham,1773,NaN,2000-10-04T12:00:00,Trussville,340,CST,(205) 655-6950,(205) 661-8157,08:00:00,22:00:00,True,False
12,Hiram,1400,NaN,2002-03-06T12:00:00,Hiram,336,EST,(678) 567-0142,(770) 250-4784,08:00:00,23:00:00,True,True
13,Alabaster,2276,NaN,2007-07-25T12:00:00,Alabaster,340,CST,(205) 564-2608,(205) 564-2853,08:00:00,22:00:00,True,True
14,East Point,1546,2012-06-21T12:00:00,2003-07-23T12:00:00,East Point,336,EST,(404) 267-0063,(404) 720-5338,08:00:00,23:00:00,True,True
15,Homewood,2796,NaN,2013-03-06T12:00:00,Homewood,340,CST,(205) 994-7531,(205) 994-7541,08:00:00,23:00:00,True,False
16,Austell,1164,2004-08-08T12:00:00,1999-03-03T12:00:00,Austell,336,EST,(678) 945-4550,(770) 250-4829,08:00:00,22:00:00,True,False
17,Birmingham,2503,NaN,2009-10-07T12:00:00,Hoover West,340,CST,(205) 747-1654,(205) 747-1664,08:00:00,23:00:00,True,False
18,Marietta,1165,2013-06-27T12:00:00,1998-10-07T12:00:00,West Marietta,334,EST,(770) 792-7933,(770) 250-7030,08:00:00,22:00:00,True,True
19,Fultondale,2355,NaN,2007-10-10T12:00:00,Fultondale,340,CST,(205) 453-6032,(205) 578-5030,08:00:00,22:00:00,True,True
20,Acworth,2091,NaN,2006-07-19T12:00:00,Acworth,334,EST,(678) 202-0996,(770) 250-4971,08:00:00,22:00:00,True,True
21,Mcdonough,1461,NaN,2002-07-24T12:00:00,McDonough,346,EST,(678) 583-2184,(678) 734-3914,08:00:00,23:00:00,True,True
22,Atlanta,2137,2012-03-22T12:00:00,2007-10-10T12:00:00,Atlanta Midtown,336,EST,(678) 954-4265,(678) 954-4275,08:00:00,23:00:00,False,True
23,Smyrna,373,2012-03-22T12:00:00,1989-04-26T12:00:00,Smyrna,334,EST,(770) 952-2241,(770) 250-7501,08:00:00,23:00:00,True,False
24,Atlanta,1964,2012-03-22T12:00:00,2005-03-02T12:00:00,Atlanta Edgewood,336,EST,(404) 260-0200,(404) 682-7559,07:00:00,23:00:00,True,False
25,Bessemer,2375,NaN,2008-07-23T12:00:00,Bessemer,340,CST,(205) 565-3760,(205) 565-3770,08:00:00,22:00:00,True,True
26,Kennesaw,981,2012-06-21T12:00:00,1995-07-19T12:00:00,Cobb,334,EST,(770) 425-6895,(770) 250-7010,08:00:00,23:00:00,True,True
27,Atlanta,2171,2012-06-21T12:00:00,2006-10-04T12:00:00,Buckhead South,335,EST,(404) 720-1081,(404) 682-2140,08:00:00,23:00:00,True,True
28,Cartersville,969,2017-03-30T12:00:00,1995-10-04T12:00:00,Cartersville,334,EST,(770) 387-9595,(678) 719-3154,08:00:00,22:00:00,True,True
29,Atlanta,1197,2012-06-21T12:00:00,1999-07-21T12:00:00,Buckhead,335,EST,(404) 237-9494,(404) 720-7752,08:00:00,23:00:00,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,Pensacola,1273,2012-10-11T12:00:00,2000-07-19T12:00:00,Pensacola NE,359,CST,(850) 473-8647,(850) 466-4633,08:00:00,22:00:00,True,True
79,Franklin,1963,2012-10-11T12:00:00,2005-03-02T12:00:00,Franklin,369,CST,(615) 472-2052,(615) 807-7081,08:00:00,22:00:00,True,True
80,Smyrna,2360,NaN,2008-03-05T12:00:00,Smyrna,333,CST,(615) 768-3017,(615) 768-3027,08:00:00,23:00:00,True,False
81,Valdosta,750,2012-06-21T12:00:00,1995-10-04T12:00:00,Valdosta,348,EST,(229) 242-0330,(229) 444-6893,08:00:00,22:00:00,True,True
82,Pensacola,686,2012-06-21T12:00:00,1992-03-11T12:00:00,Pensacola,359,CST,(850) 494-9070,(850) 466-4685,08:00:00,23:00:00,True,True
83,Knoxville,2815,NaN,2012-07-25T12:00:00,Knoxville South,351,EST,(865) 291-5478,(865) 291-5488,07:00:00,22:00:00,False,True
84,Knoxville,1370,NaN,2002-03-06T12:00:00,Farragut,351,EST,(865) 675-8200,NaN,08:00:00,23:00:00,True,True
85,Franklin,695,2012-06-21T12:00:00,1992-03-11T12:00:00,Cool Springs,369,CST,(615) 771-2093,(615) 472-9691,08:00:00,23:00:00,True,True
86,Knoxville,151,2014-04-03T12:00:00,1981-07-22T12:00:00,Knoxville West,351,EST,(865) 693-2203,(865) 291-4819,08:00:00,23:00:00,True,False
87,Brentwood,1983,2012-06-21T12:00:00,2005-07-20T12:00:00,Brentwood,369,CST,(615) 238-0126,(615) 208-8402,08:00:00,23:00:00,True,True
88,Mount Juliet,2126,2012-06-21T12:00:00,2006-03-01T12:00:00,Mt Juliet,333,CST,(615) 773-2800,NaN,08:00:00,22:00:00,True,True
89,Pensacola,2445,NaN,2009-03-04T12:00:00,Pensacola West,359,CST,(850) 454-3000,(850) 454-3010,08:00:00,22:00:00,True,True
90,Knoxville,795,2017-04-13T12:00:00,1996-03-06T12:00:00,Knoxville NW,351,EST,(865) 947-7636,NaN,08:00:00,22:00:00,True,True
91,Simpsonville,1870,2012-10-11T12:00:00,2004-03-03T12:00:00,Simpsonville,337,EST,(864) 963-7251,(864) 757-3201,08:00:00,22:00:00,True,True
92,Nashville,1059,2010-10-14T12:00:00,1997-03-05T12:00:00,Nashville East,333,CST,(615) 889-4734,(615) 925-3840,08:00:00,22:00:00,True,False
93,Nashville,146,2012-03-22T12:00:00,1981-07-22T12:00:00,White Bridge,369,CST,(615) 352-8461,(615) 970-3683,08:00:00,23:00:00,True,True
94,Greenville,1182,2012-06-21T12:00:00,1999-03-03T12:00:00,Greenville,337,EST,(864) 286-3689,(864) 558-2543,08:00:00,23:00:00,True,True
95,Nashville,2240,2012-03-22T12:00:00,2007-03-07T12:00:00,Nashville West,369,CST,(615) 238-0112,(615) 970-3895,08:00:00,23:00:00,True,True
96,Daphne,1274,2018-04-13T12:00:00,2000-07-19T12:00:00,Daphne,359,CST,(251) 621-3540,(251) 287-9804,08:00:00,22:00:00,True,True
97,Knoxville,2057,2014-04-03T12:00:00,2006-07-19T12:00:00,Knoxville North,351,EST,(865) 291-0086,(865) 291-4757,08:00:00,22:00:00,True,True
98,Aiken,1310,2006-05-12T12:00:00,2000-10-04T12:00:00,Aiken,337,EST,(803) 644-2721,(803) 295-5701,08:00:00,22:00:00,True,True
99,Mobile,797,2003-08-12T12:00:00,1996-07-24T12:00:00,Bel-Air,359,CST,(251) 471-9760,(251) 287-9863,08:00:00,22:00:00,True,True
100,Taylors,1937,2012-03-22T12:00:00,2004-10-06T12:00:00,Greer,337,EST,(864) 801-8128,(864) 416-5786,08:00:00,23:00:00,True,False
101,Madison,144,2007-03-23T12:00:00,1981-02-24T12:00:00,Rivergate,333,CST,(615) 859-5260,(615) 756-3261,08:00:00,22:00:00,True,True
102,Hendersonville,1511,2012-10-11T12:00:00,2003-03-05T12:00:00,Hendersonville,333,CST,(615) 826-6895,(615) 431-3581,08:00:00,22:00:00,True,True
103,Mobile,1376,NaN,2002-03-06T12:00:00,Mobile West,359,CST,(251) 607-0265,(251) 287-9784,08:00:00,23:00:00,True,True
104,Gulf Shores,2154,2012-06-21T12:00:00,2006-07-19T12:00:00,Gulf Shores,359,CST,(251) 967-7001,NaN,08:00:00,22:00:00,True,True
105,Arden,2011,2012-06-21T12:00:00,2005-07-20T12:00:00,Asheville South,362,EST,(828) 681-0341,(828) 974-3269,08:00:00,22:00:00,True,False
106,Spartanburg,1349,2012-06-21T12:00:00,2001-07-25T12:00:00,Spartanburg,337,EST,(864) 574-1211,(864) 345-6000,08:00:00,22:00:00,True,True
107,Asheville,1807,2012-03-22T12:00:00,2003-07-23T12:00:00,Asheville,362,EST,(828) 298-1262,(828) 333-9991,08:00:00,23:00:00,True,True

#  

# 4

### number of rows

In [8]:
len(merged_data)

108

### Columns

In [9]:
merged_data.columns

Index(['Address.City', 'ID', 'LocationMilestones.LastRemodelDate',
       'LocationMilestones.OpenDate', 'Name', 'Store.StoreDistrictID',
       'TimeZone.TimeZoneCode', 'PhoneNumber', 'FaxNumber', 'BeginTime.MF',
       'ThruTime.MF', 'IsOpen.Sat', 'IsOpen.Sun'],
      dtype='object')

In [10]:
len(merged_data.columns)

13

### DataTypes

In [11]:
merged_data.dtypes

Address.City                          object
ID                                     int64
LocationMilestones.LastRemodelDate    object
LocationMilestones.OpenDate           object
Name                                  object
Store.StoreDistrictID                  int64
TimeZone.TimeZoneCode                 object
PhoneNumber                           object
FaxNumber                             object
BeginTime.MF                          object
ThruTime.MF                           object
IsOpen.Sat                              bool
IsOpen.Sun                              bool
dtype: object

### Summary Statistics

In [12]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108 entries, 0 to 107
Data columns (total 13 columns):
Address.City                          108 non-null object
ID                                    108 non-null int64
LocationMilestones.LastRemodelDate    73 non-null object
LocationMilestones.OpenDate           108 non-null object
Name                                  108 non-null object
Store.StoreDistrictID                 108 non-null int64
TimeZone.TimeZoneCode                 108 non-null object
PhoneNumber                           108 non-null object
FaxNumber                             103 non-null object
BeginTime.MF                          108 non-null object
ThruTime.MF                           108 non-null object
IsOpen.Sat                            108 non-null bool
IsOpen.Sun                            108 non-null bool
dtypes: bool(2), int64(2), object(9)
memory usage: 10.3+ KB

### Numpy Array Equivalent

In [13]:
merged_data.values

array([['Oxford', 2153, nan, ..., '22:00:00', True, False],
       ['Opelika', 1499, nan, ..., '22:00:00', False, True],
       ['Carrollton', 1073, nan, ..., '22:00:00', True, True],
       ...,
       ['Arden', 2011, '2012-06-21T12:00:00', ..., '22:00:00', True,
        False],
       ['Spartanburg', 1349, '2012-06-21T12:00:00', ..., '22:00:00',
        True, True],
       ['Asheville', 1807, '2012-03-22T12:00:00', ..., '23:00:00', True,
        True]], dtype=object)

### List Equivalent

In [14]:
list(merged_data.values)

[array(['Oxford', 2153, nan, '2006-07-19T12:00:00', 'Oxford', 340, 'CST',
        '(256) 231-2900', '(256) 231-2910', '08:00:00', '22:00:00', True,
        False], dtype=object),
 array(['Opelika', 1499, nan, '2005-07-20T12:00:00', 'Opelika', 340, 'CST',
        '(334) 705-0152', '(334) 363-3235', '08:00:00', '22:00:00', False,
        True], dtype=object),
 array(['Carrollton', 1073, nan, '1997-07-23T12:00:00', 'Carrollton', 336,
        'EST', '(770) 838-9221', '(678) 664-3234', '08:00:00', '22:00:00',
        True, True], dtype=object),
 array(['Newnan', 1223, '2013-06-27T12:00:00', '1999-10-06T12:00:00',
        'Newnan', 336, 'EST', '(770) 502-0294', '(678) 621-6321',
        '08:00:00', '22:00:00', True, False], dtype=object),
 array(['Columbus', 1179, '2004-10-17T12:00:00', '1999-03-03T12:00:00',
        'Columbus', 340, 'EST', '(706) 321-0831', '(706) 225-5604',
        '08:00:00', '23:00:00', True, True], dtype=object),
 array(['Peachtree City', 2129, '2013-10-10T12:00:00',
        '2006-07-19T12:00:00', 'Peachtree City', 336, 'EST',
        '(770) 282-2165', '(678) 734-3839', '08:00:00', '22:00:00', True,
        False], dtype=object),
 array(['Montgomery', 1825, '2014-04-03T12:00:00', '2003-10-08T12:00:00',
        'Montgomery', 340, 'CST', '(334) 356-6265', '(334) 523-9794',
        '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Douglasville', 1172, nan, '1998-10-07T12:00:00', 'Douglasville',
        336, 'EST', '(770) 947-5303', '(770) 250-4101', '08:00:00',
        '22:00:00', False, True], dtype=object),
 array(['Prattville', 2274, nan, '2007-07-25T12:00:00', 'Prattville', 340,
        'CST', '(334) 290-6000', '(334) 290-6010', '08:00:00', '22:00:00',
        True, True], dtype=object),
 array(['Birmingham', 1772, nan, '2000-10-04T12:00:00',
        'Birmingham 280 Corridor', 340, 'CST', '(205) 408-7687',
        '(205) 578-5170', '08:00:00', '23:00:00', True, True], dtype=object),
 array(['Fayetteville', 778, '2007-10-18T12:00:00', '1995-10-04T12:00:00',
        'Fayetteville', 336, 'EST', '(770) 719-9766', '(678) 734-9930',
        '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Birmingham', 1773, nan, '2000-10-04T12:00:00', 'Trussville', 340,
        'CST', '(205) 655-6950', '(205) 661-8157', '08:00:00', '22:00:00',
        True, False], dtype=object),
 array(['Hiram', 1400, nan, '2002-03-06T12:00:00', 'Hiram', 336, 'EST',
        '(678) 567-0142', '(770) 250-4784', '08:00:00', '23:00:00', True,
        True], dtype=object),
 array(['Alabaster', 2276, nan, '2007-07-25T12:00:00', 'Alabaster', 340,
        'CST', '(205) 564-2608', '(205) 564-2853', '08:00:00', '22:00:00',
        True, True], dtype=object),
 array(['East Point', 1546, '2012-06-21T12:00:00', '2003-07-23T12:00:00',
        'East Point', 336, 'EST', '(404) 267-0063', '(404) 720-5338',
        '08:00:00', '23:00:00', True, True], dtype=object),
 array(['Homewood', 2796, nan, '2013-03-06T12:00:00', 'Homewood', 340,
        'CST', '(205) 994-7531', '(205) 994-7541', '08:00:00', '23:00:00',
        True, False], dtype=object),
 array(['Austell', 1164, '2004-08-08T12:00:00', '1999-03-03T12:00:00',
        'Austell', 336, 'EST', '(678) 945-4550', '(770) 250-4829',
        '08:00:00', '22:00:00', True, False], dtype=object),
 array(['Birmingham', 2503, nan, '2009-10-07T12:00:00', 'Hoover West', 340,
        'CST', '(205) 747-1654', '(205) 747-1664', '08:00:00', '23:00:00',
        True, False], dtype=object),
 array(['Marietta', 1165, '2013-06-27T12:00:00', '1998-10-07T12:00:00',
        'West Marietta', 334, 'EST', '(770) 792-7933', '(770) 250-7030',
        '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Fultondale', 2355, nan, '2007-10-10T12:00:00', 'Fultondale', 340,
        'CST', '(205) 453-6032', '(205) 578-5030', '08:00:00', '22:00:00',
        True, True], dtype=object),
 array(['Acworth', 2091, nan, '2006-07-19T12:00:00', 'Acworth', 334, 'EST',
        '(678) 202-0996', '(770) 250-4971', '08:00:00', '22:00:00', True,
        True], dtype=object),
 array(['Mcdonough', 1461, nan, '2002-07-24T12:00:00', 'McDonough', 346,
        'EST', '(678) 583-2184', '(678) 734-3914', '08:00:00', '23:00:00',
        True, True], dtype=object),
 array(['Atlanta', 2137, '2012-03-22T12:00:00', '2007-10-10T12:00:00',
        'Atlanta Midtown', 336, 'EST', '(678) 954-4265', '(678) 954-4275',
        '08:00:00', '23:00:00', False, True], dtype=object),
 array(['Smyrna', 373, '2012-03-22T12:00:00', '1989-04-26T12:00:00',
        'Smyrna', 334, 'EST', '(770) 952-2241', '(770) 250-7501',
        '08:00:00', '23:00:00', True, False], dtype=object),
 array(['Atlanta', 1964, '2012-03-22T12:00:00', '2005-03-02T12:00:00',
        'Atlanta Edgewood', 336, 'EST', '(404) 260-0200', '(404) 682-7559',
        '07:00:00', '23:00:00', True, False], dtype=object),
 array(['Bessemer', 2375, nan, '2008-07-23T12:00:00', 'Bessemer', 340,
        'CST', '(205) 565-3760', '(205) 565-3770', '08:00:00', '22:00:00',
        True, True], dtype=object),
 array(['Kennesaw', 981, '2012-06-21T12:00:00', '1995-07-19T12:00:00',
        'Cobb', 334, 'EST', '(770) 425-6895', '(770) 250-7010', '08:00:00',
        '23:00:00', True, True], dtype=object),
 array(['Atlanta', 2171, '2012-06-21T12:00:00', '2006-10-04T12:00:00',
        'Buckhead South', 335, 'EST', '(404) 720-1081', '(404) 682-2140',
        '08:00:00', '23:00:00', True, True], dtype=object),
 array(['Cartersville', 969, '2017-03-30T12:00:00', '1995-10-04T12:00:00',
        'Cartersville', 334, 'EST', '(770) 387-9595', '(678) 719-3154',
        '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Atlanta', 1197, '2012-06-21T12:00:00', '1999-07-21T12:00:00',
        'Buckhead', 335, 'EST', '(404) 237-9494', '(404) 720-7752',
        '08:00:00', '23:00:00', True, True], dtype=object),
 array(['Atlanta', 1486, '2013-03-21T12:00:00', '2002-10-09T12:00:00',
        'North Druid Hills', 335, 'EST', '(404) 267-0060',
        '(404) 720-7734', '08:00:00', '23:00:00', True, False],
       dtype=object),
 array(['Sandy Springs', 2333, '2013-10-10T12:00:00',
        '2008-10-08T12:00:00', 'Sandy Springs Prado', 335, 'EST',
        '(678) 704-8120', '(678) 704-8130', '08:00:00', '23:00:00', True,
        True], dtype=object),
 array(['Marietta', 2121, '2012-03-22T12:00:00', '2007-10-10T12:00:00',
        'Marietta East', 334, 'EST', '(770) 240-0005', '(770) 308-5861',
        '08:00:00', '23:00:00', False, True], dtype=object),
 array(['Woodstock', 1780, nan, '2001-03-07T12:00:00', 'Woodstock', 334,
        'EST', '(678) 494-5307', '(770) 250-4760', '08:00:00', '22:00:00',
        False, True], dtype=object),
 array(['Marietta', 1106, '2004-09-19T12:00:00', '1997-10-08T12:00:00',
        'Cobb NE', 334, 'EST', '(770) 321-8545', '(770) 250-4905',
        '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Atlanta', 2036, nan, '2005-10-05T12:00:00', 'Atlanta Perimeter',
        335, 'EST', '(678) 259-0888', '(470) 385-3179', '08:00:00',
        '23:00:00', True, True], dtype=object),
 array(['Tucker', 1390, '2012-03-22T12:00:00', '2001-10-10T12:00:00',
        'Northlake', 346, 'EST', '(770) 270-5375', '(470) 385-3876',
        '08:00:00', '23:00:00', True, False], dtype=object),
 array(['Roswell', 1761, '2000-03-01T12:00:00', '2000-03-01T12:00:00',
        'Roswell', 334, 'EST', '(770) 998-0144', '(470) 385-3922',
        '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Peachtree Corners', 982, '2017-10-26T12:00:00',
        '1995-10-04T12:00:00', 'Peachtree Corners', 335, 'EST',
        '(770) 849-0885', '(678) 514-7209', '08:00:00', '22:00:00', True,
        True], dtype=object),
 array(['Conyers', 2174, '2012-06-21T12:00:00', '2006-10-04T12:00:00',
        'Conyers', 346, 'EST', '(770) 785-6470', '(770) 761-1044',
        '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Alpharetta', 970, '2012-10-11T12:00:00', '1995-07-19T12:00:00',
        'Alpharetta', 335, 'EST', '(770) 664-5395', '(678) 514-8028',
        '08:00:00', '23:00:00', True, True], dtype=object),
 array(['Canton', 2476, nan, '2009-03-04T12:00:00', 'Canton', 334, 'EST',
        '(678) 880-4311', '(678) 880-4321', '08:00:00', '22:00:00', True,
        True], dtype=object),
 array(['Duluth', 749, '2013-06-27T12:00:00', '1995-10-04T12:00:00',
        'Riverwood', 335, 'EST', '(770) 476-5548', '(678) 713-3608',
        '08:00:00', '22:00:00', True, False], dtype=object),
 array(['Milton', 2431, nan, '2008-07-23T12:00:00', 'Milton', 334, 'EST',
        '(770) 225-1780', '(770) 225-1790', '08:00:00', '22:00:00', True,
        True], dtype=object),
 array(['Snellville', 917, '2012-06-21T12:00:00', '1994-10-05T12:00:00',
        'Snellville', 346, 'EST', '(770) 736-1113', '(678) 514-8008',
        '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Suwanee', 2056, nan, '2005-10-05T12:00:00', "John's Creek", 335,
        'EST', '(678) 513-8013', '(678) 208-3197', '08:00:00', '23:00:00',
        True, True], dtype=object),
 array(['Lawrenceville', 747, '2017-03-30T12:00:00', '1995-10-04T12:00:00',
        'Lawrenceville', 346, 'EST', '(770) 338-4460', '(678) 514-7177',
        '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Cumming', 1394, nan, '2002-03-06T12:00:00', 'Cumming', 335, 'EST',
        '(678) 455-9618', '(678) 208-3242', '08:00:00', '22:00:00', True,
        True], dtype=object),
 array(['Buford', 1206, '2012-03-22T12:00:00', '1999-10-06T12:00:00',
        'Buford', 346, 'EST', '(678) 482-2367', '(470) 202-7396',
        '08:00:00', '23:00:00', True, True], dtype=object),
 array(['Tuscaloosa', 1787, '2017-10-26T12:00:00', '2002-03-06T12:00:00',
        'Tuscaloosa', 340, 'CST', '(205) 462-1064', '(205) 535-3724',
        '08:00:00', '00:00:00', True, True], dtype=object),
 array(['Warner Robins', 1380, '2007-04-13T12:00:00',
        '2001-10-10T12:00:00', 'Warner Robins', 346, 'EST',
        '(478) 971-2141', '(478) 333-4037', '08:00:00', '22:00:00', True,
        False], dtype=object),
 array(['Bethlehem', 2493, nan, '2009-03-04T12:00:00', 'Winder', 346,
        'EST', '(678) 975-3060', '(678) 975-3070', '08:00:00', '22:00:00',
        True, True], dtype=object),
 array(['Flowery Branch', 2387, nan, '2008-03-05T12:00:00',
        'Flowery Branch', 335, 'EST', '(770) 967-1205', '(678) 866-4120',
        '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Huntsville', 1367, nan, '2001-10-10T12:00:00', 'Huntsville South',
        369, 'CST', '(256) 650-3491', '(256) 924-3013', '08:00:00',
        '23:00:00', True, True], dtype=object),
 array(['Decatur', 2084, nan, '2007-10-10T12:00:00', 'Decatur', 369, 'CST',
        '(256) 898-3036', '(256) 898-3775', '08:00:00', '22:00:00', True,
        True], dtype=object),
 array(['Gainesville', 796, '2017-03-30T12:00:00', '1997-07-23T12:00:00',
        'Gainesville', 335, 'EST', '(770) 532-6670', '(678) 928-3709',
        '08:00:00', '22:00:00', True, False], dtype=object),
 array(['Dothan', 1468, '2012-10-11T12:00:00', '2007-03-07T12:00:00',
        'Dothan', 348, 'CST', '(334) 340-1112', '(334) 340-1122',
        '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Huntsville', 1346, nan, '2001-07-25T12:00:00', 'Huntsville West',
        369, 'CST', '(256) 922-0189', '(256) 924-3023', '08:00:00',
        '23:00:00', True, True], dtype=object),
 array(['Albany', 734, '2012-03-22T12:00:00', '1995-10-04T12:00:00',
        'Albany', 348, 'EST', '(229) 888-1333', '(229) 352-9438',
        '08:00:00', '22:00:00', False, True], dtype=object),
 array(['Madison', 2816, nan, '2012-03-07T12:00:00', 'Madison', 369, 'CST',
        '(256) 690-5890', nan, '08:00:00', '22:00:00', True, True],
       dtype=object),
 array(['Chattanooga', 1302, '2012-06-21T12:00:00', '2000-10-04T12:00:00',
        'Chattanooga East', 333, 'EST', '(423) 490-1418', '(423) 414-3377',
        '08:00:00', '23:00:00', True, True], dtype=object),
 array(['Athens', 1453, '2012-03-22T12:00:00', '2003-10-08T12:00:00',
        'Athens', 346, 'EST', '(706) 208-9379', '(706) 395-0407',
        '08:00:00', '23:00:00', True, False], dtype=object),
 array(['Hixson', 2053, '2012-03-22T12:00:00', '2005-10-05T12:00:00',
        'Chattanooga North', 333, 'EST', '(423) 870-4768',
        '(423) 414-3056', '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Cleveland', 2367, nan, '2008-03-05T12:00:00', 'Cleveland', 333,
        'EST', '(423) 790-3000', '(423) 790-3010', '08:00:00', '22:00:00',
        True, True], dtype=object),
 array(['Florence', 1322, '2007-07-13T12:00:00', '2001-03-07T12:00:00',
        'Florence', 369, 'CST', '(256) 764-6924', '(256) 712-3239',
        '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Anderson', 1198, '2012-03-22T12:00:00', '1999-07-21T12:00:00',
        'Anderson', 337, 'EST', '(864) 224-9772', '(864) 932-4340',
        '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Tallahassee', 1973, '2009-07-09T12:00:00', '2005-07-20T12:00:00',
        'Tallahassee North', 348, 'EST', '(850) 894-3213',
        '(850) 907-2703', '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Murfreesboro', 1126, '2012-03-22T12:00:00', '1998-07-22T12:00:00',
        'Murfreesboro', 333, 'CST', '(615) 907-2977', '(615) 809-3836',
        '08:00:00', '22:00:00', True, False], dtype=object),
 array(['Destin', 2085, '2012-03-22T12:00:00', '2005-10-05T12:00:00',
        'Destin', 348, 'CST', '(850) 650-7525', '(850) 460-3185',
        '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Pace', 2279, '2012-10-11T12:00:00', '2007-07-25T12:00:00', 'Pace',
        359, 'CST', '(850) 995-7820', '(850) 995-7830', '08:00:00',
        '22:00:00', True, True], dtype=object),
 array(['Spring Hill', 2362, nan, '2008-03-05T12:00:00', 'Spring Hill',
        369, 'CST', '(931) 489-1030', '(931) 499-3001', '08:00:00',
        '22:00:00', True, True], dtype=object),
 array(['Mary Esther', 740, '2013-06-27T12:00:00', '1995-10-04T12:00:00',
        'Mary Esther', 348, 'CST', '(850) 243-4188', '(850) 659-3286',
        '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Evans', 2027, nan, '2005-10-05T12:00:00', 'Evans', 337, 'EST',
        '(706) 210-8591', '(706) 993-9089', '08:00:00', '22:00:00', True,
        True], dtype=object),
 array(['Panama City Beach', 2208, '2012-03-22T12:00:00',
        '2006-10-04T12:00:00', 'Pier Park', 348, 'CST', '(850) 236-3720',
        '(850) 636-6520', '08:00:00', '23:00:00', True, True], dtype=object),
 array(['Tallahassee', 844, '2012-03-22T12:00:00', '1993-10-06T12:00:00',
        'Tallahassee', 348, 'EST', '(850) 671-2041', '(850) 273-7217',
        '08:00:00', '23:00:00', True, True], dtype=object),
 array(['Maryville', 1250, '2004-08-08T12:00:00', '2000-03-01T12:00:00',
        'Maryville', 351, 'EST', '(865) 982-1590', '(865) 238-7098',
        '08:00:00', '22:00:00', True, False], dtype=object),
 array(['Panama City', 811, '2012-03-22T12:00:00', '1992-07-22T12:00:00',
        'Panama City', 348, 'CST', '(850) 785-8966', '(850) 532-6578',
        '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Augusta', 1090, '2014-10-12T12:00:00', '1997-10-08T12:00:00',
        'Augusta', 337, 'EST', '(706) 667-6368', '(706) 619-3211',
        '08:00:00', '23:00:00', True, True], dtype=object),
 array(['Pensacola', 1273, '2012-10-11T12:00:00', '2000-07-19T12:00:00',
        'Pensacola NE', 359, 'CST', '(850) 473-8647', '(850) 466-4633',
        '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Franklin', 1963, '2012-10-11T12:00:00', '2005-03-02T12:00:00',
        'Franklin', 369, 'CST', '(615) 472-2052', '(615) 807-7081',
        '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Smyrna', 2360, nan, '2008-03-05T12:00:00', 'Smyrna', 333, 'CST',
        '(615) 768-3017', '(615) 768-3027', '08:00:00', '23:00:00', True,
        False], dtype=object),
 array(['Valdosta', 750, '2012-06-21T12:00:00', '1995-10-04T12:00:00',
        'Valdosta', 348, 'EST', '(229) 242-0330', '(229) 444-6893',
        '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Pensacola', 686, '2012-06-21T12:00:00', '1992-03-11T12:00:00',
        'Pensacola', 359, 'CST', '(850) 494-9070', '(850) 466-4685',
        '08:00:00', '23:00:00', True, True], dtype=object),
 array(['Knoxville', 2815, nan, '2012-07-25T12:00:00', 'Knoxville South',
        351, 'EST', '(865) 291-5478', '(865) 291-5488', '07:00:00',
        '22:00:00', False, True], dtype=object),
 array(['Knoxville', 1370, nan, '2002-03-06T12:00:00', 'Farragut', 351,
        'EST', '(865) 675-8200', nan, '08:00:00', '23:00:00', True, True],
       dtype=object),
 array(['Franklin', 695, '2012-06-21T12:00:00', '1992-03-11T12:00:00',
        'Cool Springs', 369, 'CST', '(615) 771-2093', '(615) 472-9691',
        '08:00:00', '23:00:00', True, True], dtype=object),
 array(['Knoxville', 151, '2014-04-03T12:00:00', '1981-07-22T12:00:00',
        'Knoxville West', 351, 'EST', '(865) 693-2203', '(865) 291-4819',
        '08:00:00', '23:00:00', True, False], dtype=object),
 array(['Brentwood', 1983, '2012-06-21T12:00:00', '2005-07-20T12:00:00',
        'Brentwood', 369, 'CST', '(615) 238-0126', '(615) 208-8402',
        '08:00:00', '23:00:00', True, True], dtype=object),
 array(['Mount Juliet', 2126, '2012-06-21T12:00:00', '2006-03-01T12:00:00',
        'Mt Juliet', 333, 'CST', '(615) 773-2800', nan, '08:00:00',
        '22:00:00', True, True], dtype=object),
 array(['Pensacola', 2445, nan, '2009-03-04T12:00:00', 'Pensacola West',
        359, 'CST', '(850) 454-3000', '(850) 454-3010', '08:00:00',
        '22:00:00', True, True], dtype=object),
 array(['Knoxville', 795, '2017-04-13T12:00:00', '1996-03-06T12:00:00',
        'Knoxville NW', 351, 'EST', '(865) 947-7636', nan, '08:00:00',
        '22:00:00', True, True], dtype=object),
 array(['Simpsonville', 1870, '2012-10-11T12:00:00', '2004-03-03T12:00:00',
        'Simpsonville', 337, 'EST', '(864) 963-7251', '(864) 757-3201',
        '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Nashville', 1059, '2010-10-14T12:00:00', '1997-03-05T12:00:00',
        'Nashville East', 333, 'CST', '(615) 889-4734', '(615) 925-3840',
        '08:00:00', '22:00:00', True, False], dtype=object),
 array(['Nashville', 146, '2012-03-22T12:00:00', '1981-07-22T12:00:00',
        'White Bridge', 369, 'CST', '(615) 352-8461', '(615) 970-3683',
        '08:00:00', '23:00:00', True, True], dtype=object),
 array(['Greenville', 1182, '2012-06-21T12:00:00', '1999-03-03T12:00:00',
        'Greenville', 337, 'EST', '(864) 286-3689', '(864) 558-2543',
        '08:00:00', '23:00:00', True, True], dtype=object),
 array(['Nashville', 2240, '2012-03-22T12:00:00', '2007-03-07T12:00:00',
        'Nashville West', 369, 'CST', '(615) 238-0112', '(615) 970-3895',
        '08:00:00', '23:00:00', True, True], dtype=object),
 array(['Daphne', 1274, '2018-04-13T12:00:00', '2000-07-19T12:00:00',
        'Daphne', 359, 'CST', '(251) 621-3540', '(251) 287-9804',
        '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Knoxville', 2057, '2014-04-03T12:00:00', '2006-07-19T12:00:00',
        'Knoxville North', 351, 'EST', '(865) 291-0086', '(865) 291-4757',
        '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Aiken', 1310, '2006-05-12T12:00:00', '2000-10-04T12:00:00',
        'Aiken', 337, 'EST', '(803) 644-2721', '(803) 295-5701',
        '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Mobile', 797, '2003-08-12T12:00:00', '1996-07-24T12:00:00',
        'Bel-Air', 359, 'CST', '(251) 471-9760', '(251) 287-9863',
        '08:00:00', '22:00:00', True, True], dtype=object),
 array(['Taylors', 1937, '2012-03-22T12:00:00', '2004-10-06T12:00:00',
        'Greer', 337, 'EST', '(864) 801-8128', '(864) 416-5786',
        '08:00:00', '23:00:00', True, False], dtype=object),
 array(['Madison', 144, '2007-03-23T12:00:00', '1981-02-24T12:00:00',

#       

# 5

In [15]:
merged_data.columns

Index(['Address.City', 'ID', 'LocationMilestones.LastRemodelDate',
       'LocationMilestones.OpenDate', 'Name', 'Store.StoreDistrictID',
       'TimeZone.TimeZoneCode', 'PhoneNumber', 'FaxNumber', 'BeginTime.MF',
       'ThruTime.MF', 'IsOpen.Sat', 'IsOpen.Sun'],
      dtype='object')

In [16]:
merged_data.rename(columns = {"Name" : "Store Name"}, inplace = True)

In [17]:
merged_data.head()

,Address.City,ID,LocationMilestones.LastRemodelDate,LocationMilestones.OpenDate,Store Name,Store.StoreDistrictID,TimeZone.TimeZoneCode,PhoneNumber,FaxNumber,BeginTime.MF,ThruTime.MF,IsOpen.Sat,IsOpen.Sun
0,Oxford,2153,NaN,2006-07-19T12:00:00,Oxford,340,CST,(256) 231-2900,(256) 231-2910,08:00:00,22:00:00,True,False
1,Opelika,1499,NaN,2005-07-20T12:00:00,Opelika,340,CST,(334) 705-0152,(334) 363-3235,08:00:00,22:00:00,False,True
2,Carrollton,1073,NaN,1997-07-23T12:00:00,Carrollton,336,EST,(770) 838-9221,(678) 664-3234,08:00:00,22:00:00,True,True
3,Newnan,1223,2013-06-27T12:00:00,1999-10-06T12:00:00,Newnan,336,EST,(770) 502-0294,(678) 621-6321,08:00:00,22:00:00,True,False
4,Columbus,1179,2004-10-17T12:00:00,1999-03-03T12:00:00,Columbus,340,EST,(706) 321-0831,(706) 225-5604,08:00:00,23:00:00,True,True

#    

# 6

In [18]:
merged_data.isnull().values.any()

True

#  

# 7

In [19]:
from bokeh.plotting import figure
from bokeh.io import output_notebook, push_notebook, show
from bokeh.transform import cumsum
from math import pi

### Pie chart of Stores that are open on Saturday or Not

In [20]:
data = merged_data["IsOpen.Sat"].value_counts().reset_index(name='value').rename(columns={'index':'boolean'})
data['angle'] = data['value']/data['value'].sum() * 2*pi
data['percentage'] = ["{:.0f}%".format(d) for d in data['value']/data['value'].sum() * 100]
data['color'] = ["Turquoise", "Silver"]
data

   boolean  value     angle percentage      color
0     True    101  5.875942        94%  Turquoise
1    False      7  0.407243         6%     Silver

In [21]:
output_notebook()

In [22]:
f = figure(plot_height=350, title="Pie chart of Stores that are open on Saturday or Not", toolbar_location=None,
           tools="hover", tooltips="@boolean: @percentage", x_range=(-0.5, 1.0))

f.wedge(x=0, y=1, radius=0.4, start_angle=cumsum('angle', include_zero=True), end_angle=cumsum('angle'),
        line_color="white", fill_color='color', legend='boolean', source=data)


f.axis.axis_label=None
f.axis.visible=False
f.grid.grid_line_color = None

### Please hover on the chart to see the percentage for each labels

In [23]:
handle = show(f, notebook_handle=True)
push_notebook(handle=handle)

### Pie chart of Stores that are open on Sunday or Not

In [24]:
s_data = merged_data["IsOpen.Sun"].value_counts().reset_index(name='values').rename(columns={'index':'booleans'})
s_data['angles'] = s_data['values']/s_data['values'].sum() * 2*pi
s_data['percentages'] = ["{:.0f}%".format(d) for d in s_data['values']/s_data['values'].sum() * 100]
s_data['colors'] = ["Turquoise", "Silver"]
s_data

   booleans  values    angles percentages     colors
0      True      86  5.003277         80%  Turquoise
1     False      22  1.279908         20%     Silver

In [25]:
p = figure(plot_height=350, title="Pie chart of Stores that are open on Sunday or Not", toolbar_location=None,
           tools="hover", tooltips="@booleans: @percentages", x_range=(-0.5, 1.0))

p.wedge(x=0, y=1, radius=0.4, start_angle=cumsum('angles', include_zero=True), end_angle=cumsum('angles'),
        line_color="white", fill_color='colors', legend='booleans', source=s_data)

p.axis.axis_label=None
p.axis.visible=False
p.grid.grid_line_color = None

### Please hover on the chart to see the percentage for each labels

In [26]:
handles = show(p, notebook_handle=True)
push_notebook(handle=handles)

#    

# 8

In [27]:
merged_data["ThruTime.MF"] = pd.to_datetime(merged_data["ThruTime.MF"])

In [28]:
condition = merged_data["ThruTime.MF"] == "11:00 PM"
merged_data[condition]

,Address.City,ID,LocationMilestones.LastRemodelDate,LocationMilestones.OpenDate,Store Name,Store.StoreDistrictID,TimeZone.TimeZoneCode,PhoneNumber,FaxNumber,BeginTime.MF,ThruTime.MF,IsOpen.Sat,IsOpen.Sun
4,Columbus,1179,2004-10-17T12:00:00,1999-03-03T12:00:00,Columbus,340,EST,(706) 321-0831,(706) 225-5604,08:00:00,2019-07-25 23:00:00,True,True
9,Birmingham,1772,NaN,2000-10-04T12:00:00,Birmingham 280 Corridor,340,CST,(205) 408-7687,(205) 578-5170,08:00:00,2019-07-25 23:00:00,True,True
12,Hiram,1400,NaN,2002-03-06T12:00:00,Hiram,336,EST,(678) 567-0142,(770) 250-4784,08:00:00,2019-07-25 23:00:00,True,True
14,East Point,1546,2012-06-21T12:00:00,2003-07-23T12:00:00,East Point,336,EST,(404) 267-0063,(404) 720-5338,08:00:00,2019-07-25 23:00:00,True,True
15,Homewood,2796,NaN,2013-03-06T12:00:00,Homewood,340,CST,(205) 994-7531,(205) 994-7541,08:00:00,2019-07-25 23:00:00,True,False
17,Birmingham,2503,NaN,2009-10-07T12:00:00,Hoover West,340,CST,(205) 747-1654,(205) 747-1664,08:00:00,2019-07-25 23:00:00,True,False
21,Mcdonough,1461,NaN,2002-07-24T12:00:00,McDonough,346,EST,(678) 583-2184,(678) 734-3914,08:00:00,2019-07-25 23:00:00,True,True
22,Atlanta,2137,2012-03-22T12:00:00,2007-10-10T12:00:00,Atlanta Midtown,336,EST,(678) 954-4265,(678) 954-4275,08:00:00,2019-07-25 23:00:00,False,True
23,Smyrna,373,2012-03-22T12:00:00,1989-04-26T12:00:00,Smyrna,334,EST,(770) 952-2241,(770) 250-7501,08:00:00,2019-07-25 23:00:00,True,False
24,Atlanta,1964,2012-03-22T12:00:00,2005-03-02T12:00:00,Atlanta Edgewood,336,EST,(404) 260-0200,(404) 682-7559,07:00:00,2019-07-25 23:00:00,True,False
26,Kennesaw,981,2012-06-21T12:00:00,1995-07-19T12:00:00,Cobb,334,EST,(770) 425-6895,(770) 250-7010,08:00:00,2019-07-25 23:00:00,True,True
27,Atlanta,2171,2012-06-21T12:00:00,2006-10-04T12:00:00,Buckhead South,335,EST,(404) 720-1081,(404) 682-2140,08:00:00,2019-07-25 23:00:00,True,True
29,Atlanta,1197,2012-06-21T12:00:00,1999-07-21T12:00:00,Buckhead,335,EST,(404) 237-9494,(404) 720-7752,08:00:00,2019-07-25 23:00:00,True,True
30,Atlanta,1486,2013-03-21T12:00:00,2002-10-09T12:00:00,North Druid Hills,335,EST,(404) 267-0060,(404) 720-7734,08:00:00,2019-07-25 23:00:00,True,False
31,Sandy Springs,2333,2013-10-10T12:00:00,2008-10-08T12:00:00,Sandy Springs Prado,335,EST,(678) 704-8120,(678) 704-8130,08:00:00,2019-07-25 23:00:00,True,True
32,Marietta,2121,2012-03-22T12:00:00,2007-10-10T12:00:00,Marietta East,334,EST,(770) 240-0005,(770) 308-5861,08:00:00,2019-07-25 23:00:00,False,True
35,Atlanta,2036,NaN,2005-10-05T12:00:00,Atlanta Perimeter,335,EST,(678) 259-0888,(470) 385-3179,08:00:00,2019-07-25 23:00:00,True,True
36,Tucker,1390,2012-03-22T12:00:00,2001-10-10T12:00:00,Northlake,346,EST,(770) 270-5375,(470) 385-3876,08:00:00,2019-07-25 23:00:00,True,False
40,Alpharetta,970,2012-10-11T12:00:00,1995-07-19T12:00:00,Alpharetta,335,EST,(770) 664-5395,(678) 514-8028,08:00:00,2019-07-25 23:00:00,True,True
45,Suwanee,2056,NaN,2005-10-05T12:00:00,John's Creek,335,EST,(678) 513-8013,(678) 208-3197,08:00:00,2019-07-25 23:00:00,True,True
48,Buford,1206,2012-03-22T12:00:00,1999-10-06T12:00:00,Buford,346,EST,(678) 482-2367,(470) 202-7396,08:00:00,2019-07-25 23:00:00,True,True
53,Huntsville,1367,NaN,2001-10-10T12:00:00,Huntsville South,369,CST,(256) 650-3491,(256) 924-3013,08:00:00,2019-07-25 23:00:00,True,True
57,Huntsville,1346,NaN,2001-07-25T12:00:00,Huntsville West,369,CST,(256) 922-0189,(256) 924-3023,08:00:00,2019-07-25 23:00:00,True,True
60,Chattanooga,1302,2012-06-21T12:00:00,2000-10-04T12:00:00,Chattanooga East,333,EST,(423) 490-1418,(423) 414-3377,08:00:00,2019-07-25 23:00:00,True,True
61,Athens,1453,2012-03-22T12:00:00,2003-10-08T12:00:00,Athens,346,EST,(706) 208-9379,(706) 395-0407,08:00:00,2019-07-25 23:00:00,True,False
73,Panama City Beach,2208,2012-03-22T12:00:00,2006-10-04T12:00:00,Pier Park,348,CST,(850) 236-3720,(850) 636-6520,08:00:00,2019-07-25 23:00:00,True,True
74,Tallahassee,844,2012-03-22T12:00:00,1993-10-06T12:00:00,Tallahassee,348,EST,(850) 671-2041,(850) 273-7217,08:00:00,2019-07-25 23:00:00,True,True
77,Augusta,1090,2014-10-12T12:00:00,1997-10-08T12:00:00,Augusta,337,EST,(706) 667-6368,(706) 619-3211,08:00:00,2019-07-25 23:00:00,True,True
80,Smyrna,2360,NaN,2008-03-05T12:00:00,Smyrna,333,CST,(615) 768-3017,(615) 768-3027,08:00:00,2019-07-25 23:00:00,True,False
82,Pensacola,686,2012-06-21T12:00:00,1992-03-11T12:00:00,Pensacola,359,CST,(850) 494-9070,(850) 466-4685,08:00:00,2019-07-25 23:00:00,True,True
84,Knoxville,1370,NaN,2002-03-06T12:00:00,Farragut,351,EST,(865) 675-8200,NaN,08:00:00,2019-07-25 23:00:00,True,True
85,Franklin,695,2012-06-21T12:00:00,1992-03-11T12:00:00,Cool Springs,369,CST,(615) 771-2093,(615) 472-9691,08:00:00,2019-07-25 23:00:00,True,True
86,Knoxville,151,2014-04-03T12:00:00,1981-07-22T12:00:00,Knoxville West,351,EST,(865) 693-2203,(865) 291-4819,08:00:00,2019-07-25 23:00:00,True,False
87,Brentwood,1983,2012-06-21T12:00:00,2005-07-20T12:00:00,Brentwood,369,CST,(615) 238-0126,(615) 208-8402,08:00:00,2019-07-25 23:00:00,True,True
93,Nashville,146,2012-03-22T12:00:00,1981-07-22T12:00:00,White Bridge,369,CST,(615) 352-8461,(615) 970-3683,08:00:00,2019-07-25 23:00:00,True,True
94,Greenville,1182,2012-06-21T12:00:00,1999-03-03T12:00:00,Greenville,337,EST,(864) 286-3689,(864) 558-2543,08:00:00,2019-07-25 23:00:00,True,True
95,Nashville,2240,2012-03-22T12:00:00,2007-03-07T12:00:00,Nashville West,369,CST,(615) 238-0112,(615) 970-3895,08:00:00,2019-07-25 23:00:00,True,True
100,Taylors,1937,2012-03-22T12:00:00,2004-10-06T12:00:00,Greer,337,EST,(864) 801-8128,(864) 416-5786,08:00:00,2019-07-25 23:00:00,True,False
103,Mobile,1376,NaN,2002-03-06T12:00:00,Mobile West,359,CST,(251) 607-0265,(251) 287-9784,08:00:00,2019-07-25 23:00:00,True,True
107,Asheville,1807,2012-03-22T12:00:00,2003-07-23T12:00:00,Asheville,362,EST,(828) 298-1262,(828) 333-9991,08:00:00,2019-07-25 23:00:00,True,True

#    

# 9

In [29]:
merged_data["LocationMilestones.LastRemodelDate"] = pd.to_datetime(merged_data["LocationMilestones.LastRemodelDate"])

In [30]:
condition = merged_data["LocationMilestones.LastRemodelDate"].notnull()
remodeled_stores = merged_data[condition]

In [31]:
remodeled_stores

,Address.City,ID,LocationMilestones.LastRemodelDate,LocationMilestones.OpenDate,Store Name,Store.StoreDistrictID,TimeZone.TimeZoneCode,PhoneNumber,FaxNumber,BeginTime.MF,ThruTime.MF,IsOpen.Sat,IsOpen.Sun
3,Newnan,1223,2013-06-27 12:00:00,1999-10-06T12:00:00,Newnan,336,EST,(770) 502-0294,(678) 621-6321,08:00:00,2019-07-25 22:00:00,True,False
4,Columbus,1179,2004-10-17 12:00:00,1999-03-03T12:00:00,Columbus,340,EST,(706) 321-0831,(706) 225-5604,08:00:00,2019-07-25 23:00:00,True,True
5,Peachtree City,2129,2013-10-10 12:00:00,2006-07-19T12:00:00,Peachtree City,336,EST,(770) 282-2165,(678) 734-3839,08:00:00,2019-07-25 22:00:00,True,False
6,Montgomery,1825,2014-04-03 12:00:00,2003-10-08T12:00:00,Montgomery,340,CST,(334) 356-6265,(334) 523-9794,08:00:00,2019-07-25 22:00:00,True,True
10,Fayetteville,778,2007-10-18 12:00:00,1995-10-04T12:00:00,Fayetteville,336,EST,(770) 719-9766,(678) 734-9930,08:00:00,2019-07-25 22:00:00,True,True
14,East Point,1546,2012-06-21 12:00:00,2003-07-23T12:00:00,East Point,336,EST,(404) 267-0063,(404) 720-5338,08:00:00,2019-07-25 23:00:00,True,True
16,Austell,1164,2004-08-08 12:00:00,1999-03-03T12:00:00,Austell,336,EST,(678) 945-4550,(770) 250-4829,08:00:00,2019-07-25 22:00:00,True,False
18,Marietta,1165,2013-06-27 12:00:00,1998-10-07T12:00:00,West Marietta,334,EST,(770) 792-7933,(770) 250-7030,08:00:00,2019-07-25 22:00:00,True,True
22,Atlanta,2137,2012-03-22 12:00:00,2007-10-10T12:00:00,Atlanta Midtown,336,EST,(678) 954-4265,(678) 954-4275,08:00:00,2019-07-25 23:00:00,False,True
23,Smyrna,373,2012-03-22 12:00:00,1989-04-26T12:00:00,Smyrna,334,EST,(770) 952-2241,(770) 250-7501,08:00:00,2019-07-25 23:00:00,True,False
24,Atlanta,1964,2012-03-22 12:00:00,2005-03-02T12:00:00,Atlanta Edgewood,336,EST,(404) 260-0200,(404) 682-7559,07:00:00,2019-07-25 23:00:00,True,False
26,Kennesaw,981,2012-06-21 12:00:00,1995-07-19T12:00:00,Cobb,334,EST,(770) 425-6895,(770) 250-7010,08:00:00,2019-07-25 23:00:00,True,True
27,Atlanta,2171,2012-06-21 12:00:00,2006-10-04T12:00:00,Buckhead South,335,EST,(404) 720-1081,(404) 682-2140,08:00:00,2019-07-25 23:00:00,True,True
28,Cartersville,969,2017-03-30 12:00:00,1995-10-04T12:00:00,Cartersville,334,EST,(770) 387-9595,(678) 719-3154,08:00:00,2019-07-25 22:00:00,True,True
29,Atlanta,1197,2012-06-21 12:00:00,1999-07-21T12:00:00,Buckhead,335,EST,(404) 237-9494,(404) 720-7752,08:00:00,2019-07-25 23:00:00,True,True
30,Atlanta,1486,2013-03-21 12:00:00,2002-10-09T12:00:00,North Druid Hills,335,EST,(404) 267-0060,(404) 720-7734,08:00:00,2019-07-25 23:00:00,True,False
31,Sandy Springs,2333,2013-10-10 12:00:00,2008-10-08T12:00:00,Sandy Springs Prado,335,EST,(678) 704-8120,(678) 704-8130,08:00:00,2019-07-25 23:00:00,True,True
32,Marietta,2121,2012-03-22 12:00:00,2007-10-10T12:00:00,Marietta East,334,EST,(770) 240-0005,(770) 308-5861,08:00:00,2019-07-25 23:00:00,False,True
34,Marietta,1106,2004-09-19 12:00:00,1997-10-08T12:00:00,Cobb NE,334,EST,(770) 321-8545,(770) 250-4905,08:00:00,2019-07-25 22:00:00,True,True
36,Tucker,1390,2012-03-22 12:00:00,2001-10-10T12:00:00,Northlake,346,EST,(770) 270-5375,(470) 385-3876,08:00:00,2019-07-25 23:00:00,True,False
37,Roswell,1761,2000-03-01 12:00:00,2000-03-01T12:00:00,Roswell,334,EST,(770) 998-0144,(470) 385-3922,08:00:00,2019-07-25 22:00:00,True,True
38,Peachtree Corners,982,2017-10-26 12:00:00,1995-10-04T12:00:00,Peachtree Corners,335,EST,(770) 849-0885,(678) 514-7209,08:00:00,2019-07-25 22:00:00,True,True
39,Conyers,2174,2012-06-21 12:00:00,2006-10-04T12:00:00,Conyers,346,EST,(770) 785-6470,(770) 761-1044,08:00:00,2019-07-25 22:00:00,True,True
40,Alpharetta,970,2012-10-11 12:00:00,1995-07-19T12:00:00,Alpharetta,335,EST,(770) 664-5395,(678) 514-8028,08:00:00,2019-07-25 23:00:00,True,True
42,Duluth,749,2013-06-27 12:00:00,1995-10-04T12:00:00,Riverwood,335,EST,(770) 476-5548,(678) 713-3608,08:00:00,2019-07-25 22:00:00,True,False
44,Snellville,917,2012-06-21 12:00:00,1994-10-05T12:00:00,Snellville,346,EST,(770) 736-1113,(678) 514-8008,08:00:00,2019-07-25 22:00:00,True,True
46,Lawrenceville,747,2017-03-30 12:00:00,1995-10-04T12:00:00,Lawrenceville,346,EST,(770) 338-4460,(678) 514-7177,08:00:00,2019-07-25 22:00:00,True,True
48,Buford,1206,2012-03-22 12:00:00,1999-10-06T12:00:00,Buford,346,EST,(678) 482-2367,(470) 202-7396,08:00:00,2019-07-25 23:00:00,True,True
49,Tuscaloosa,1787,2017-10-26 12:00:00,2002-03-06T12:00:00,Tuscaloosa,340,CST,(205) 462-1064,(205) 535-3724,08:00:00,2019-07-25 00:00:00,True,True
50,Warner Robins,1380,2007-04-13 12:00:00,2001-10-10T12:00:00,Warner Robins,346,EST,(478) 971-2141,(478) 333-4037,08:00:00,2019-07-25 22:00:00,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,Panama City Beach,2208,2012-03-22 12:00:00,2006-10-04T12:00:00,Pier Park,348,CST,(850) 236-3720,(850) 636-6520,08:00:00,2019-07-25 23:00:00,True,True
74,Tallahassee,844,2012-03-22 12:00:00,1993-10-06T12:00:00,Tallahassee,348,EST,(850) 671-2041,(850) 273-7217,08:00:00,2019-07-25 23:00:00,True,True
75,Maryville,1250,2004-08-08 12:00:00,2000-03-01T12:00:00,Maryville,351,EST,(865) 982-1590,(865) 238-7098,08:00:00,2019-07-25 22:00:00,True,False
76,Panama City,811,2012-03-22 12:00:00,1992-07-22T12:00:00,Panama City,348,CST,(850) 785-8966,(850) 532-6578,08:00:00,2019-07-25 22:00:00,True,True
77,Augusta,1090,2014-10-12 12:00:00,1997-10-08T12:00:00,Augusta,337,EST,(706) 667-6368,(706) 619-3211,08:00:00,2019-07-25 23:00:00,True,True
78,Pensacola,1273,2012-10-11 12:00:00,2000-07-19T12:00:00,Pensacola NE,359,CST,(850) 473-8647,(850) 466-4633,08:00:00,2019-07-25 22:00:00,True,True
79,Franklin,1963,2012-10-11 12:00:00,2005-03-02T12:00:00,Franklin,369,CST,(615) 472-2052,(615) 807-7081,08:00:00,2019-07-25 22:00:00,True,True
81,Valdosta,750,2012-06-21 12:00:00,1995-10-04T12:00:00,Valdosta,348,EST,(229) 242-0330,(229) 444-6893,08:00:00,2019-07-25 22:00:00,True,True
82,Pensacola,686,2012-06-21 12:00:00,1992-03-11T12:00:00,Pensacola,359,CST,(850) 494-9070,(850) 466-4685,08:00:00,2019-07-25 23:00:00,True,True
85,Franklin,695,2012-06-21 12:00:00,1992-03-11T12:00:00,Cool Springs,369,CST,(615) 771-2093,(615) 472-9691,08:00:00,2019-07-25 23:00:00,True,True
86,Knoxville,151,2014-04-03 12:00:00,1981-07-22T12:00:00,Knoxville West,351,EST,(865) 693-2203,(865) 291-4819,08:00:00,2019-07-25 23:00:00,True,False
87,Brentwood,1983,2012-06-21 12:00:00,2005-07-20T12:00:00,Brentwood,369,CST,(615) 238-0126,(615) 208-8402,08:00:00,2019-07-25 23:00:00,True,True
88,Mount Juliet,2126,2012-06-21 12:00:00,2006-03-01T12:00:00,Mt Juliet,333,CST,(615) 773-2800,NaN,08:00:00,2019-07-25 22:00:00,True,True
90,Knoxville,795,2017-04-13 12:00:00,1996-03-06T12:00:00,Knoxville NW,351,EST,(865) 947-7636,NaN,08:00:00,2019-07-25 22:00:00,True,True
91,Simpsonville,1870,2012-10-11 12:00:00,2004-03-03T12:00:00,Simpsonville,337,EST,(864) 963-7251,(864) 757-3201,08:00:00,2019-07-25 22:00:00,True,True
92,Nashville,1059,2010-10-14 12:00:00,1997-03-05T12:00:00,Nashville East,333,CST,(615) 889-4734,(615) 925-3840,08:00:00,2019-07-25 22:00:00,True,False
93,Nashville,146,2012-03-22 12:00:00,1981-07-22T12:00:00,White Bridge,369,CST,(615) 352-8461,(615) 970-3683,08:00:00,2019-07-25 23:00:00,True,True
94,Greenville,1182,2012-06-21 12:00:00,1999-03-03T12:00:00,Greenville,337,EST,(864) 286-3689,(864) 558-2543,08:00:00,2019-07-25 23:00:00,True,True
95,Nashville,2240,2012-03-22 12:00:00,2007-03-07T12:00:00,Nashville West,369,CST,(615) 238-0112,(615) 970-3895,08:00:00,2019-07-25 23:00:00,True,True
96,Daphne,1274,2018-04-13 12:00:00,2000-07-19T12:00:00,Daphne,359,CST,(251) 621-3540,(251) 287-9804,08:00:00,2019-07-25 22:00:00,True,True
97,Knoxville,2057,2014-04-03 12:00:00,2006-07-19T12:00:00,Knoxville North,351,EST,(865) 291-0086,(865) 291-4757,08:00:00,2019-07-25 22:00:00,True,True
98,Aiken,1310,2006-05-12 12:00:00,2000-10-04T12:00:00,Aiken,337,EST,(803) 644-2721,(803) 295-5701,08:00:00,2019-07-25 22:00:00,True,True
99,Mobile,797,2003-08-12 12:00:00,1996-07-24T12:00:00,Bel-Air,359,CST,(251) 471-9760,(251) 287-9863,08:00:00,2019-07-25 22:00:00,True,True
100,Taylors,1937,2012-03-22 12:00:00,2004-10-06T12:00:00,Greer,337,EST,(864) 801-8128,(864) 416-5786,08:00:00,2019-07-25 23:00:00,True,False
101,Madison,144,2007-03-23 12:00:00,1981-02-24T12:00:00,Rivergate,333,CST,(615) 859-5260,(615) 756-3261,08:00:00,2019-07-25 22:00:00,True,True
102,Hendersonville,1511,2012-10-11 12:00:00,2003-03-05T12:00:00,Hendersonville,333,CST,(615) 826-6895,(615) 431-3581,08:00:00,2019-07-25 22:00:00,True,True
104,Gulf Shores,2154,2012-06-21 12:00:00,2006-07-19T12:00:00,Gulf Shores,359,CST,(251) 967-7001,NaN,08:00:00,2019-07-25 22:00:00,True,True
105,Arden,2011,2012-06-21 12:00:00,2005-07-20T12:00:00,Asheville South,362,EST,(828) 681-0341,(828) 974-3269,08:00:00,2019-07-25 22:00:00,True,False
106,Spartanburg,1349,2012-06-21 12:00:00,2001-07-25T12:00:00,Spartanburg,337,EST,(864) 574-1211,(864) 345-6000,08:00:00,2019-07-25 22:00:00,True,True
107,Asheville,1807,2012-03-22 12:00:00,2003-07-23T12:00:00,Asheville,362,EST,(828) 298-1262,(828) 333-9991,08:00:00,2019-07-25 23:00:00,True,True

In [32]:
remodeled_stores_dict = remodeled_stores[["Store Name", "LocationMilestones.LastRemodelDate"]].set_index(keys = "Store Name").to_dict()

In [33]:
remodeled_stores_dict

{'LocationMilestones.LastRemodelDate': {'Newnan': Timestamp('2013-06-27 12:00:00'),
  'Columbus': Timestamp('2004-10-17 12:00:00'),
  'Peachtree City': Timestamp('2013-10-10 12:00:00'),
  'Montgomery': Timestamp('2014-04-03 12:00:00'),
  'Fayetteville': Timestamp('2007-10-18 12:00:00'),
  'East Point': Timestamp('2012-06-21 12:00:00'),
  'Austell': Timestamp('2004-08-08 12:00:00'),
  'West Marietta': Timestamp('2013-06-27 12:00:00'),
  'Atlanta Midtown': Timestamp('2012-03-22 12:00:00'),
  'Smyrna': Timestamp('2012-03-22 12:00:00'),
  'Atlanta Edgewood': Timestamp('2012-03-22 12:00:00'),
  'Cobb': Timestamp('2012-06-21 12:00:00'),
  'Buckhead South': Timestamp('2012-06-21 12:00:00'),
  'Cartersville': Timestamp('2017-03-30 12:00:00'),
  'Buckhead': Timestamp('2012-06-21 12:00:00'),
  'North Druid Hills': Timestamp('2013-03-21 12:00:00'),
  'Sandy Springs Prado': Timestamp('2013-10-10 12:00:00'),
  'Marietta East': Timestamp('2012-03-22 12:00:00'),
  'Cobb NE': Timestamp('2004-09-19 12:00:00'),
  'Northlake': Timestamp('2012-03-22 12:00:00'),
  'Roswell': Timestamp('2000-03-01 12:00:00'),
  'Peachtree Corners': Timestamp('2017-10-26 12:00:00'),
  'Conyers': Timestamp('2012-06-21 12:00:00'),
  'Alpharetta': Timestamp('2012-10-11 12:00:00'),
  'Riverwood': Timestamp('2013-06-27 12:00:00'),
  'Snellville': Timestamp('2012-06-21 12:00:00'),
  'Lawrenceville': Timestamp('2017-03-30 12:00:00'),
  'Buford': Timestamp('2012-03-22 12:00:00'),
  'Tuscaloosa': Timestamp('2017-10-26 12:00:00'),
  'Warner Robins': Timestamp('2007-04-13 12:00:00'),
  'Gainesville': Timestamp('2017-03-30 12:00:00'),
  'Dothan': Timestamp('2012-10-11 12:00:00'),
  'Albany': Timestamp('2012-03-22 12:00:00'),
  'Chattanooga East': Timestamp('2012-06-21 12:00:00'),
  'Athens': Timestamp('2012-03-22 12:00:00'),
  'Chattanooga North': Timestamp('2012-03-22 12:00:00'),
  'Florence': Timestamp('2007-07-13 12:00:00'),
  'Anderson': Timestamp('2012-03-22 12:00:00'),
  'Tallahassee North': Timestamp('2009-07-09 12:00:00'),
  'Murfreesboro': Timestamp('2012-03-22 12:00:00'),
  'Destin': Timestamp('2012-03-22 12:00:00'),
  'Pace': Timestamp('2012-10-11 12:00:00'),
  'Mary Esther': Timestamp('2013-06-27 12:00:00'),
  'Pier Park': Timestamp('2012-03-22 12:00:00'),
  'Tallahassee': Timestamp('2012-03-22 12:00:00'),
  'Maryville': Timestamp('2004-08-08 12:00:00'),
  'Panama City': Timestamp('2012-03-22 12:00:00'),
  'Augusta': Timestamp('2014-10-12 12:00:00'),
  'Pensacola NE': Timestamp('2012-10-11 12:00:00'),
  'Franklin': Timestamp('2012-10-11 12:00:00'),
  'Valdosta': Timestamp('2012-06-21 12:00:00'),
  'Pensacola': Timestamp('2012-06-21 12:00:00'),
  'Cool Springs': Timestamp('2012-06-21 12:00:00'),
  'Knoxville West': Timestamp('2014-04-03 12:00:00'),
  'Brentwood': Timestamp('2012-06-21 12:00:00'),
  'Mt Juliet': Timestamp('2012-06-21 12:00:00'),
  'Knoxville NW': Timestamp('2017-04-13 12:00:00'),
  'Simpsonville': Timestamp('2012-10-11 12:00:00'),
  'Nashville East': Timestamp('2010-10-14 12:00:00'),
  'White Bridge': Timestamp('2012-03-22 12:00:00'),
  'Greenville': Timestamp('2012-06-21 12:00:00'),
  'Nashville West': Timestamp('2012-03-22 12:00:00'),
  'Daphne': Timestamp('2018-04-13 12:00:00'),
  'Knoxville North': Timestamp('2014-04-03 12:00:00'),
  'Aiken': Timestamp('2006-05-12 12:00:00'),
  'Bel-Air': Timestamp('2003-08-12 12:00:00'),
  'Greer': Timestamp('2012-03-22 12:00:00'),
  'Rivergate': Timestamp('2007-03-23 12:00:00'),
  'Hendersonville': Timestamp('2012-10-11 12:00:00'),
  'Gulf Shores': Timestamp('2012-06-21 12:00:00'),
  'Asheville South': Timestamp('2012-06-21 12:00:00'),
  'Spartanburg': Timestamp('2012-06-21 12:00:00'),
  'Asheville': Timestamp('2012-03-22 12:00:00')}}

#     

# 10

In [34]:
Address_City = merged_data.groupby("Address.City")

In [35]:
merged_data["Address.City"].value_counts()

Atlanta              6
Knoxville            5
Pensacola            3
Birmingham           3
Nashville            3
Marietta             3
Smyrna               2
Madison              2
Huntsville           2
Tallahassee          2
Franklin             2
Mobile               2
Duluth               1
Dothan               1
Peachtree City       1
Murfreesboro         1
Maryville            1
Columbus             1
Oxford               1
Athens               1
Carrollton           1
Peachtree Corners    1
Prattville           1
Snellville           1
Mcdonough            1
Montgomery           1
Canton               1
Alpharetta           1
Suwanee              1
Buford               1
                    ..
Woodstock            1
Hendersonville       1
Acworth              1
Simpsonville         1
Fultondale           1
Homewood             1
Kennesaw             1
Sandy Springs        1
Evans                1
Tucker               1
Florence             1
Cartersville         1
Arden                1
Fayetteville         1
East Point           1
Roswell              1
Mount Juliet         1
Newnan               1
Hiram                1
Albany               1
Alabaster            1
Panama City Beach    1
Spartanburg          1
Austell              1
Taylors              1
Pace                 1
Douglasville         1
Greenville           1
Cumming              1
Mary Esther          1
Name: Address.City, Length: 85, dtype: int64

In [36]:
Address_City.size()

Address.City
Acworth              1
Aiken                1
Alabaster            1
Albany               1
Alpharetta           1
Anderson             1
Arden                1
Asheville            1
Athens               1
Atlanta              6
Augusta              1
Austell              1
Bessemer             1
Bethlehem            1
Birmingham           3
Brentwood            1
Buford               1
Canton               1
Carrollton           1
Cartersville         1
Chattanooga          1
Cleveland            1
Columbus             1
Conyers              1
Cumming              1
Daphne               1
Decatur              1
Destin               1
Dothan               1
Douglasville         1
                    ..
Mobile               2
Montgomery           1
Mount Juliet         1
Murfreesboro         1
Nashville            3
Newnan               1
Opelika              1
Oxford               1
Pace                 1
Panama City          1
Panama City Beach    1
Peachtree City       1
Peachtree Corners    1
Pensacola            3
Prattville           1
Roswell              1
Sandy Springs        1
Simpsonville         1
Smyrna               2
Snellville           1
Spartanburg          1
Spring Hill          1
Suwanee              1
Tallahassee          2
Taylors              1
Tucker               1
Tuscaloosa           1
Valdosta             1
Warner Robins        1
Woodstock            1
Length: 85, dtype: int64

#

# 11

In [37]:
import datetime as dt

In [38]:
time_series = pd.date_range(start = "1995-05-13", end = dt.datetime.now(), freq = pd.DateOffset(years = 1))

In [39]:
time_series

DatetimeIndex(['1995-05-13', '1996-05-13', '1997-05-13', '1998-05-13',
               '1999-05-13', '2000-05-13', '2001-05-13', '2002-05-13',
               '2003-05-13', '2004-05-13', '2005-05-13', '2006-05-13',
               '2007-05-13', '2008-05-13', '2009-05-13', '2010-05-13',
               '2011-05-13', '2012-05-13', '2013-05-13', '2014-05-13',
               '2015-05-13', '2016-05-13', '2017-05-13', '2018-05-13',
               '2019-05-13'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')